h1 {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

.heading {
  width: 100%;
  height: 130px;
  background-color: #009688;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-content
{
  max-width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.assignments {
  min-width: 300px;
  float: left;
  position: relative;
}

.scratch-pad {
  max-width: 550px;
  max-height: 600px;
  float: left;
  position: relative;
  border-style: solid;
  border-color: burlywood;
  border-width: 1px;
  background-color: beige;
  padding: 5px;
  margin: 5px;
  overflow: scroll;
  overflow-x: hidden;
}