header {
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-family: sans-serif;
}

form {
    background-color: #202020;
    border-radius: 5px;
    width: 500px;
    display: block;
    margin-left: 20px;

}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    font-family: sans-serif;
    color: white;
    font-size: 16px;
}

input {

  display: inline-block;
  float: left;
  border-radius: 5px;
}

fieldset {
    background-color: lightgray;
}

h3 {
    padding-left: 15px;
    padding-top:5px;
    color: white;
}
h2 {
    padding-top: 5px;
}
#submit {
    padding-bottom: 15px;
    padding-left: 10px;
}
#removeLink {
    padding-top: 25px;
    padding-left: 15px;

    
}

#link_table {
    padding-left: 25px;
    background-color: #202020;
    width: 640px;
    border-radius: 5px;
    color: white;
    margin-left: 15px;
    margin-bottom: 25px;
}




body {
    background-color: #B8B8B8;
}
#response {
    font-family: sans-serif;
    color: white;
    padding-left: 15px;
    padding-top: 7px;
}
