
h1 {
    padding: 20px;
    font-size: 20px;
    font-family: sans-serif;
    background-color: #551700; 
    color: whitesmoke;
    text-align: center;
        
}
form {
    display: block;
    
}

body {
    
    background-image: url(background.jpg);
    background-position: fixed;
    background-size: 100%;
    box-shadow: 50px;
    border-radius: 10px;
    position: relative;
    text-align: center;
   
}

fieldset {
    width: 80%;
    margin: 1em auto;
    text-align: center;
}
#wrapper {
	width: 70%;
	margin: 1em auto;
    align-content: center;
    text-align: center;
	}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 30%;
    text-align: right;
}
input {
  display: inline-block;
  float: left;
}
  
#contact {
    text-align: center;
    font-family: sans-serif;
    color: #ffad2f;
    font-size: 16px;
    background-color: #551700;
    padding: 15px;
    margin-top: auto;
    border-radius: 10px;
    vertical-align: middle;
    border: 3px #ffad2f solid;
   
}

#radio {
    text-align: center;
    font-family: sans-serif;
    color: #ffad2f;
    font-size: 16px;
    background-color: #551700;
    padding: 15px;
    margin-top: auto;
    border-radius: 10px;
    vertical-align: middle;
    border: 3px #ffad2f solid;
}
#com {
    text-align: center;
    font-family: sans-serif;
    color: #ffad2f;
    font-size: 16px;
    background-color: #551700;
    padding: 15px;
    margin-top: auto;
    border-radius: 10px;
    vertical-align: middle;
    border: 3px #ffad2f solid;
   
}

#check {
    text-align: center;
    font-family: sans-serif;
    color: #ffad2f;
    font-size: 16px;
    background-color: #551700;
    padding: 15px;
    margin-top: auto;
    border-radius: 10px;
    vertical-align: middle;
    border: 3px #ffad2f solid;
    
}
table, th, td {
   border: 1px solid #ffad2f;
}
table {
    width: 80%;
    height: auto;
}

tr {
    color: white;
   
}


td {
     text-align: center;
    font-family: sans-serif;
    color: #ffad2f;
    font-size: 20px;
    font: bold;
    background-color: #551700;
    padding: 15px;
    border-radius: 10px;
    border: 3px #ffad2f solid;
    
}

