@charset "UTF-8";
/* CSS Document */
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:20px;
	color:#630;
	line-height:25px;
  padding: 10px;
}
h2 {
	color:#360;	
}
a:link, a:visited {
	color:#C90;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}